/* ===== Buttons Css ===== */
.primary-btn {
    background: var(--primary);
    color: var(--white);
    box-shadow: var(--shadow-2);
}
.active.primary-btn, .primary-btn:hover, .primary-btn:focus {
    background: var(--primary-dark);
    color: var(--white);
    box-shadow: var(--shadow-4);
}
.deactive.primary-btn {
    background: var(--gray-4);
    color: var(--dark-3);
    pointer-events: none;
}

.primary-btn-outline {
    border-color: var(--primary);
    color: var(--primary);
}
.active.primary-btn-outline, .primary-btn-outline:hover, .primary-btn-outline:focus {
    background: var(--primary-dark);
    color: var(--white);
}
.deactive.primary-btn-outline {
    color: var(--dark-3);
    border-color: var(--gray-4);
    pointer-events: none;
}

.primary-btn-link {
    color: var(--primary);
}
.active.primary-btn-link, .primary-btn-link:hover, .primary-btn-link:focus {
    color: var(--primary-dark);
}
.deactive.primary-btn-link {
    color: var(--dark-3);
    pointer-events: none;
}